body h1,h2,button {
  margin: 0 40%;
  padding: 1% 0;
}

h2 {
  color: teal;
}

button {
  margin: 0 43%;
  width: 4%;
  padding: 7px;
}

#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}