body {
  color: #8E35FB;
  background-image: url("lightpic.webp");
  background-repeat:no-repeat;
  background-size: cover;
}

#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  border-radius: 3%;
  display: inline-block;
}

input[type="checkbox"]{
  margin-left: 20px;
}

#game #innerDiv {
  border: none;
  position: relative;
  left: 40%;
  font-family: 'Satisfy', cursive;
  color: #3C7BFA
}

input,label {
  font-family: 'Roboto', sans-serif;
}

.display {
  display: none;
}

#Restart {
  position:absolute;
  top: 70%;
  left: 1%;
  width: 5%;
  border-radius: 10%;
  background-color: red;
}